.icon-picker-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.icon-picker-preview {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  background-color: #e1eafc;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  margin-right: 0.5rem;
  width: 3rem;
}

.field--widget-entity-reference-autocomplete-with-icon-picker .icon-picker-preview,
.field--widget-mv-double-field .icon-picker-preview {
  margin-bottom: 1rem;
}

.field--widget-entity-reference-autocomplete-with-icon-picker tr:hover .icon-picker-preview,
.field--widget-mv-double-field tr:hover .icon-picker-preview {
  background-color: #ffffff;
}

.icon-picker-preview svg {
  height: 35px;
  width: 35px;
}

.field--widget-icon-picker label,
.field--widget-mv-double-field .icon-picker-widget label {
  margin-left: -3.5rem;
}
